<nav class="navbar navbar-inverse" style="border-radius: 0px;">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="dashboard.html">WeZap</a>
        </div>
        <ul class="nav navbar-nav">
                <li><a href="dashboard.html"><span class="glyphicon glyphicon-log-out"></span> Dashboard</a></li>
                <li><a href="post.html"><span class="glyphicon glyphicon-pencil"></span> Create Post</a></li>
                <li><a href="mail.html"><span class="glyphicon glyphicon-send"></span> Mail</a></li>
                <li>
                    <form class="navbar-form navbar-left" action="/action_page.php">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search">
                        </div>
                        <button type="submit" class="btn btn-default"><span class="glyphicon glyphicon-search"></span> Submit</button>
                    </form>
                </li>
            </ul>
        <ul class="nav navbar-nav navbar-right">
                <li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> @
                    <span class="glyphicon glyphicon-user"></span> @<%= user.username %><span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="profile.html"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                    <li><a href="mail.html"><span class="glyphicon glyphicon-envelope"></span> Mail</a></li>
                    <li><a href="settings.html"><span class="glyphicon glyphicon-cog"></span> Settings</a></li>
                    <li><a href="logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                </ul>
                </li>
        </ul>
    </div>
</nav>
<div class="container">
    <h3>Right Aligned Navbar</h3>
    <p>The .navbar-right class is used to right-align navigation bar buttons.</p>
</div>